.drag-handle{
    z-index: 99999;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
  position:absolute
}

.resizeable {
   position:absolute;
   background: white;
  
   &.border{
    border-color:#f5f5f5;
   border-style:solid;
   border-width: 3px;
  }
  
  }
  .content {
    overflow: scroll;
    -ms-overflow-style: none;  // IE 10+
     scrollbar-width: none;  // Firefox
    //  width:100%;
    height:calc(100% - 25px)
  }
.content::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}
.ng-resizable-handle.ng-resizable-se{
  border-color: transparent;
}


.box-icon {
  padding: 0 14px;
}

.box-spacer {
  flex: 1 1 auto;
}