
<ng-template #boardContext>
  <section class="user-menu">
    <div *ngFor="let action of actions" (click)="action.click()">{{action.label}} </div>
  </section>
</ng-template>
<div class="board" id="container" [style.width.px]="containerWidth"
[style.height.px]="containerHeight">
 <div  [style.width.px]="width" [style.height.px]="height" 
 #myBounds
 (contextmenu)="rightClick($event, {});$event.preventDefault();"
 (drop)="dropHandler($event);" (dragover)="dragOverHandler($event);"
 >
 <board-element
   (contextmenu)="boarElementRightClick($event, element)"
   (settingsChanged)="settingsChanged($event)"
   (onDelete)="onDelete($event)"
   *ngFor="let element of boardElements"
   [element]="element"
   (resizeEnded)="resizeEnded($event)" 
   (dragStopped)="dragStopped($event)" 
   (dragMoving)="onMoving($event)"
   (click)="elementClicked(element)">
   <app-dynamic-content (contextmenu)="$event.stopPropagation()" [type]="element.type" [context]="element.context"></app-dynamic-content>
   
</board-element>


</div>
</div>