.board{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("https://lh4.googleusercontent.com/proxy/UOhQwfclsAK8TnXZqoTkh9szHvYOJ3auDH07hZBZeVaaRWvzGaXpaYl60MfCRuW_S57gvzBw859pj5Xl2pW_GpfG8k2GhE9LUFNKwA=w3840-h2160-p-k-no-nd-mv");
  overflow: auto;
  position: relative;
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-menu {
  background-color: #fafafa;
  padding: 4pt;
  font-size: 10pt;
  z-index: 1000;
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
  border-radius: 4pt;
  padding: 0.5em 0 0.5em 0;
  animation: fadeIn 0.1s ease-out;
  opacity:1.0;
  display:block;
}


.user-menu hr {
  border: none;
  border-bottom: 1px solid #eee;
}

.user-menu div {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.5em 2em 0.5em 0.75em;
  max-width: 18em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-menu div:hover {
  background-color: #333;
  color: #fff;
}


.user-menu div::before {
  content: '';
  float: left;
  margin-right: 0.75em;
  width: 0.5em;
  height: 1em;
  display: inline-block;
}


// .board::-webkit-scrollbar-track
// {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	background-color: #F5F5F5;
// }

.board::-webkit-scrollbar
{

  height: 4px;
    width: 4px;
}

.board::-webkit-scrollbar-thumb
{
  background: rgba(255, 238, 238, 0.56)

}

