


    <h2 mat-dialog-title>Node Settings</h2>
<mat-dialog-content class="mat-typography">
  <json-schema-form
  loadExternalAssets="true"
  framework="material-design"
  [(data)]="data.context"
  [schema]="data.contextSchema"

    (onSubmit)="save($event)"
    >
  </json-schema-form>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions> -->
