<!-- 
  <mat-tab-group >  
    <mat-tab >
        <ng-template mat-tab-label >
          <div (mouseover)="showActions=true" (mouseleave)="showActions=false">
            Title  
            <button *ngIf="showActions"  mat-icon-button (click)="$event.stopPropagation()">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
            <button *ngIf="showActions"  mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </div>
          </ng-template>
      <ng-template matTabContent >
        <app-board [containerWidth]="containerWidth" [containerHeight]="containerHeight"></app-board>
      </ng-template>
    </mat-tab>
    <mat-tab label="Second">
      <ng-template matTabContent>
              </ng-template>
    </mat-tab>
    
  </mat-tab-group>  -->
  
  <clr-main-container>
    <clr-header>
        <div class="header-nav" [clr-nav-level]="1">
          <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
        <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
          <app-board [containerWidth]="containerWidth" [containerHeight]="containerHeight"></app-board>
        </main>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="false">
          <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">Charmander</a>
          <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">Jigglypuff</a>
          <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Pikachu</a>
          <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">Raichu</a>
          <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">Snorlax</a>
          <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a>
      </clr-vertical-nav>
    </div>
</clr-main-container>
    
  <!-- <clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Tab1</button>
        <clr-tab-content id="content1" *clrIfActive>
          <app-board [containerWidth]="containerWidth" [containerHeight]="containerHeight"></app-board> 
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Tab2</button>
        <clr-tab-content *clrIfActive="true">
          <app-board [containerWidth]="containerWidth" [containerHeight]="containerHeight"></app-board> 
        </clr-tab-content>
    </clr-tab>
</clr-tabs> -->
