
<div ngDraggable ngResizable [style.width.px]="width" [style.height.px]="height"
  [rzHandles]="'se,sw,ne,nw'" style="overflow:hidden" (stopped)="onStop($event)" (movingOffset)="onMoving($event)"
  [position]="position" (rzStop)="onResizeStop($event)" [handle]="myHandle" (mouseover)="onMounseEnter()"
  (mouseleave)="onMouseOut()"
  (rzStart)="onResizeStart($event)"
  (rzResizing)="onResizing($event)"
  class="resizeable"
  >
 <div #myHandle  [style.visibility]="showHandle? 'visible' : 'hidden'">
  <mat-toolbar style="height:25px" >
    <div class="drag-handle" >
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </mat-toolbar>
 </div>
 
 <ng-content></ng-content>
  
  <div [id]="id" style="position:absolute;bottom:0px;right:0px"></div>
</div>
